@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Nunito&display=swap");
body {
    font-family: "Nunito", sans-serif;
    background-image: url("../src/components/img/tartan-wooden-background_1205-2118.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    font-family: "Akaya Telivigala", cursive;
    font-weight: 900;
    font-size: 90px;
}

.recipe-grid {
    padding: 0 20px;
    margin-top: 3em;
}

.content {
    padding-bottom: 25px;
}

.form-div input {
    width: 500px;
    margin: auto;
    margin-top: 2em;
}

.form-div button {
    margin-top: 1em;
}

.img-div {
    margin-top: 165px;
}

.img-div {
    height: 200px;
}

.img-div img {
    width: 200px;
}

.geeks {
    overflow: hidden;
}

.geeks:hover img {
    transition: all 0.6s ease 0s;
    transform: scale(1.5);
}